.mediaViewInfo {
	--web-view-name: Assistant;
	--web-view-id: Assistant;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Assistant;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Assistant {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(247,247,247,1);
	overflow: hidden;
	--web-view-name: Assistant;
	--web-view-id: Assistant;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Main_Background {
	position: absolute;
	width: 1671.949px;
	height: 290.121px;
	left: -136.223px;
	top: -58.145px;
	overflow: visible;
}
#Background {
	fill: rgba(255,255,255,1);
}
.Background {
	overflow: visible;
	position: absolute;
	width: 1671.949px;
	height: 290.121px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Background_ce {
	position: absolute;
	width: 1100px;
	height: 675px;
	left: 127px;
	top: 122px;
	overflow: visible;
}
#Shadow {
	fill: rgba(105,78,214,1);
}
.Shadow {
	position: absolute;
	overflow: visible;
	width: 1088px;
	height: 646px;
	left: 0px;
	top: 29px;
}
#Background_cg {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,211,245,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Background_cg {
	position: absolute;
	overflow: visible;
	width: 1092px;
	height: 650px;
	left: 12px;
	top: 0px;
}
#Input_2 {
	position: absolute;
	width: 895px;
	height: 56px;
	left: 231px;
	top: 681px;
	overflow: visible;
}
#Light__Text_fields2_Outlined_6 {
	position: absolute;
	width: 895px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Container_l_Color {
	fill: rgba(247,246,253,1);
	stroke: rgba(100,84,206,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
._Container_l_Color {
	position: absolute;
	overflow: visible;
	width: 895px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#_Input_text {
	left: 26.5px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,0.871);
}
#Cursor {
	fill: rgba(0,0,0,0.871);
}
.Cursor {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 17px;
	left: 341.504px;
	top: 20px;
}
#Top_label {
	position: absolute;
	width: 38px;
	height: 14px;
	left: 13.5px;
	top: -7px;
	display: none;
	overflow: visible;
}
#top_border_with_background_col {
	fill: rgba(245,245,245,1);
}
.top_border_with_background_col {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 1px;
	left: 13px;
	top: 9px;
}
#_Label {
	left: 3px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -2px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.6);
	letter-spacing: 0.3333333206176758px;
}
#Ligne_4 {
	fill: transparent;
	stroke: rgba(0,0,0,0.871);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 29px;
	left: 16.5px;
	top: 12.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_74 {
	fill: rgba(255,255,255,1);
}
.Rectangle_74 {
	position: absolute;
	overflow: visible;
	width: 49px;
	height: 49px;
	left: 842px;
	top: 3px;
}
#Icon_ {
	position: absolute;
	width: 24.465px;
	height: 25px;
	left: 854.035px;
	top: 16px;
	overflow: visible;
}
#METADATA {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_ICONfeathersearchSIZELARG {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ICONfeathersearchSIZELARG {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Icon {
	position: absolute;
	width: 24px;
	height: 25px;
	left: 0.465px;
	top: 0px;
	overflow: visible;
}
#_Input_text_cv {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(105,78,214,1);
}
#Scroll {
	mix-blend-mode: normal;
	position: absolute;
	width: 1088px;
	height: 510px;
	left: 139px;
	top: 149px;
	overflow: hidden;
}
#Content {
	position: absolute;
	width: 1088px;
	height: 2120px;
	left: 0px;
	top: 6px;
	overflow: visible;
}
#Scroll_Zone {
	position: absolute;
	width: 1088px;
	height: 504px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Scroll_Zone_cz {
	fill: rgba(255,255,255,1);
}
.Scroll_Zone_cz {
	position: absolute;
	overflow: visible;
	width: 1088px;
	height: 504px;
	left: 0px;
	top: 0px;
}
#ID19 {
	position: absolute;
	width: 355.002px;
	height: 44px;
	left: 90.998px;
	top: 2076px;
	overflow: visible;
}
#OK_Ive_what_I_need_for_the_mom {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 328px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Illustration {
	position: absolute;
	width: 312.693px;
	height: 284.573px;
	left: 100px;
	top: 1767.527px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Overview.html;
	cursor: pointer;
}
#Groupe_359 {
	opacity: 0.5;
	position: absolute;
	width: 140.675px;
	height: 194.368px;
	left: 87.52px;
	top: 19.688px;
	overflow: visible;
}
#Rectangle_77 {
	fill: rgba(105,78,214,1);
}
.Rectangle_77 {
	position: absolute;
	overflow: visible;
	width: 140.676px;
	height: 194.368px;
	left: 0px;
	top: 0px;
}
#Rectangle_78 {
	fill: rgba(255,255,255,1);
}
.Rectangle_78 {
	position: absolute;
	overflow: visible;
	width: 137.096px;
	height: 190.073px;
	left: 89.31px;
	top: 21.119px;
}
#Rectangle_79_c {
	fill: url(#Rectangle_79_c);
}
.Rectangle_79_c {
	position: absolute;
	overflow: visible;
	width: 68.011px;
	height: 16.473px;
	left: 124.03px;
	top: 16.101px;
}
#Trac_1492_da {
	fill: url(#Trac_1492_da);
}
.Trac_1492_da {
	overflow: visible;
	position: absolute;
	width: 19.015px;
	height: 19.473px;
	left: 148.529px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_80 {
	fill: rgba(105,78,214,1);
}
.Rectangle_80 {
	position: absolute;
	overflow: visible;
	width: 66.579px;
	height: 15.75px;
	left: 124.746px;
	top: 16.107px;
}
#Trac_1493 {
	fill: rgba(105,78,214,1);
}
.Trac_1493 {
	overflow: visible;
	position: absolute;
	width: 18.614px;
	height: 18.613px;
	left: 148.729px;
	top: 0.716px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_81_de {
	fill: url(#Rectangle_81_de);
}
.Rectangle_81_de {
	position: absolute;
	overflow: visible;
	width: 29.353px;
	height: 29.353px;
	left: 95.752px;
	top: 51.903px;
}
#Rectangle_82_dg {
	fill: url(#Rectangle_82_dg);
}
.Rectangle_82_dg {
	position: absolute;
	overflow: visible;
	width: 29.353px;
	height: 29.353px;
	left: 95.853px;
	top: 110.07px;
}
#Rectangle_83_di {
	fill: url(#Rectangle_83_di);
}
.Rectangle_83_di {
	position: absolute;
	overflow: visible;
	width: 29.353px;
	height: 29.353px;
	left: 95.953px;
	top: 167.521px;
}
#Rectangle_84 {
	fill: rgba(38,208,124,1);
}
.Rectangle_84 {
	position: absolute;
	overflow: visible;
	width: 27.204px;
	height: 27.204px;
	left: 96.826px;
	top: 52.977px;
}
#Rectangle_85 {
	fill: rgba(105,78,214,1);
}
.Rectangle_85 {
	position: absolute;
	overflow: visible;
	width: 27.204px;
	height: 27.204px;
	left: 96.826px;
	top: 110.607px;
}
#Rectangle_86 {
	fill: rgba(105,78,214,1);
}
.Rectangle_86 {
	position: absolute;
	overflow: visible;
	width: 27.204px;
	height: 27.204px;
	left: 96.826px;
	top: 168.238px;
}
#Rectangle_87 {
	fill: rgba(233,229,249,1);
}
.Rectangle_87 {
	position: absolute;
	overflow: visible;
	width: 37.288px;
	height: 2.603px;
	left: 141.929px;
	top: 61.375px;
}
#Rectangle_88 {
	fill: rgba(233,229,249,1);
}
.Rectangle_88 {
	position: absolute;
	overflow: visible;
	width: 61.568px;
	height: 2.603px;
	left: 141.929px;
	top: 65.28px;
}
#Rectangle_89 {
	fill: rgba(233,229,249,1);
}
.Rectangle_89 {
	position: absolute;
	overflow: visible;
	width: 57.233px;
	height: 2.603px;
	left: 141.929px;
	top: 69.182px;
}
#Rectangle_90 {
	fill: rgba(233,229,249,1);
}
.Rectangle_90 {
	position: absolute;
	overflow: visible;
	width: 37.288px;
	height: 2.603px;
	left: 141.929px;
	top: 119.005px;
}
#Rectangle_91 {
	fill: rgba(233,229,249,1);
}
.Rectangle_91 {
	position: absolute;
	overflow: visible;
	width: 61.568px;
	height: 2.603px;
	left: 141.929px;
	top: 122.91px;
}
#Rectangle_92 {
	fill: rgba(233,229,249,1);
}
.Rectangle_92 {
	position: absolute;
	overflow: visible;
	width: 57.233px;
	height: 2.603px;
	left: 141.929px;
	top: 126.813px;
}
#Rectangle_93 {
	fill: rgba(233,229,249,1);
}
.Rectangle_93 {
	position: absolute;
	overflow: visible;
	width: 37.288px;
	height: 2.603px;
	left: 141.929px;
	top: 176.636px;
}
#Rectangle_94 {
	fill: rgba(233,229,249,1);
}
.Rectangle_94 {
	position: absolute;
	overflow: visible;
	width: 61.568px;
	height: 2.603px;
	left: 141.929px;
	top: 180.541px;
}
#Rectangle_95 {
	fill: rgba(233,229,249,1);
}
.Rectangle_95 {
	position: absolute;
	overflow: visible;
	width: 57.233px;
	height: 2.603px;
	left: 141.929px;
	top: 184.442px;
}
#Trac_1494_dw {
	fill: url(#Trac_1494_dw);
}
.Trac_1494_dw {
	overflow: visible;
	position: absolute;
	width: 16.466px;
	height: 14.408px;
	left: 102.195px;
	top: 59.198px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1495 {
	fill: rgba(255,255,255,1);
}
.Trac_1495 {
	overflow: visible;
	position: absolute;
	width: 14.318px;
	height: 12.528px;
	left: 103.27px;
	top: 60.136px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1496 {
	fill: rgba(255,255,255,1);
}
.Trac_1496 {
	overflow: visible;
	position: absolute;
	width: 14.318px;
	height: 12.528px;
	left: 103.27px;
	top: 118.125px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1497 {
	fill: rgba(255,255,255,1);
}
.Trac_1497 {
	overflow: visible;
	position: absolute;
	width: 14.318px;
	height: 12.528px;
	left: 103.27px;
	top: 176.113px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_360 {
	opacity: 0.5;
	position: absolute;
	width: 58.016px;
	height: 49.169px;
	left: 233px;
	top: 76.472px;
	overflow: visible;
}
#Ligne_5 {
	fill: transparent;
	stroke: rgba(38,208,124,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_5 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 5px;
	left: 0px;
	top: 49.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_6 {
	fill: transparent;
	stroke: rgba(38,208,124,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 11.539999961853027 11.539999961853027;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_6 {
	overflow: visible;
	position: absolute;
	width: 47.497px;
	height: 5px;
	left: 6.306px;
	top: 49.17px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1498 {
	fill: transparent;
	stroke: rgba(38,208,124,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trac_1498 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 5px;
	left: 55.868px;
	top: 47.022px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_7 {
	fill: transparent;
	stroke: rgba(38,208,124,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 11.449999809265137 11.449999809265137;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_7 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 38.952px;
	left: 58.016px;
	top: 3.971px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_8 {
	fill: transparent;
	stroke: rgba(38,208,124,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_8 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 2px;
	left: 58px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1499 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(38,208,124,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 12;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trac_1499 {
	overflow: visible;
	position: absolute;
	width: 50.466px;
	height: 47.603px;
	left: 34.9px;
	top: 65.326px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1500 {
	opacity: 0.5;
	fill: transparent;
	stroke: rgba(38,208,124,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 12;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trac_1500 {
	overflow: visible;
	position: absolute;
	width: 74.091px;
	height: 28.272px;
	left: 110.429px;
	top: 218.889px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_361 {
	opacity: 0.5;
	position: absolute;
	width: 55.168px;
	height: 54.051px;
	left: 257.525px;
	top: 15.034px;
	overflow: visible;
}
#Trac_1501_ea {
	fill: url(#Trac_1501_ea);
}
.Trac_1501_ea {
	overflow: visible;
	position: absolute;
	width: 55.168px;
	height: 54.051px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1502 {
	fill: rgba(255,255,255,1);
}
.Trac_1502 {
	overflow: visible;
	position: absolute;
	width: 52.619px;
	height: 51.725px;
	left: 258.979px;
	top: 16.107px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1503 {
	fill: rgba(224,224,224,1);
}
.Trac_1503 {
	overflow: visible;
	position: absolute;
	width: 52.619px;
	height: 14.676px;
	left: 258.621px;
	top: 38.48px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_362 {
	opacity: 0.5;
	position: absolute;
	width: 31.858px;
	height: 38.301px;
	left: 269.181px;
	top: 24.699px;
	overflow: visible;
}
#Trac_1504_ef {
	fill: url(#Trac_1504_ef);
}
.Trac_1504_ef {
	overflow: visible;
	position: absolute;
	width: 31.857px;
	height: 38.301px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1505 {
	fill: rgba(250,250,250,1);
}
.Trac_1505 {
	overflow: visible;
	position: absolute;
	width: 30.426px;
	height: 37.585px;
	left: 269.896px;
	top: 25.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1506 {
	opacity: 0.05;
	fill: rgba(0,0,0,1);
}
.Trac_1506 {
	overflow: visible;
	position: absolute;
	width: 52.619px;
	height: 29.353px;
	left: 258.8px;
	top: 38.301px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1507 {
	fill: rgba(245,245,245,1);
}
.Trac_1507 {
	overflow: visible;
	position: absolute;
	width: 52.619px;
	height: 29.353px;
	left: 258.8px;
	top: 38.659px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_96 {
	fill: rgba(255,255,255,1);
}
.Rectangle_96 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 1px;
	left: 274px;
	top: 31.473px;
}
#Rectangle_97 {
	fill: rgba(255,255,255,1);
}
.Rectangle_97 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 2px;
	left: 274px;
	top: 33.473px;
}
#Rectangle_98 {
	fill: rgba(108,99,255,1);
}
.Rectangle_98 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 1px;
	left: 274px;
	top: 37.473px;
}
#Rectangle_99 {
	fill: rgba(255,255,255,1);
}
.Rectangle_99 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 2px;
	left: 274px;
	top: 39.473px;
}
#Rectangle_100 {
	fill: rgba(108,99,255,1);
}
.Rectangle_100 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 1px;
	left: 274px;
	top: 42.473px;
}
#Trac_1508 {
	opacity: 0.05;
	fill: rgba(0,0,0,1);
}
.Trac_1508 {
	overflow: visible;
	position: absolute;
	width: 15.657px;
	height: 8.938px;
	left: 284.665px;
	top: 44.028px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_363 {
	opacity: 0.5;
	position: absolute;
	width: 62.266px;
	height: 62.642px;
	left: 193.66px;
	top: 221.931px;
	overflow: visible;
}
#Rectangle_101_er {
	fill: url(#Rectangle_101_er);
}
.Rectangle_101_er {
	position: absolute;
	overflow: visible;
	width: 62.266px;
	height: 62.642px;
	left: 0px;
	top: 0px;
}
#Rectangle_102 {
	fill: rgba(245,245,245,1);
}
.Rectangle_102 {
	position: absolute;
	overflow: visible;
	width: 59px;
	height: 59px;
	left: 195px;
	top: 223.473px;
}
#Rectangle_103 {
	fill: rgba(255,255,255,1);
}
.Rectangle_103 {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 45px;
	left: 199px;
	top: 225.473px;
}
#Trac_1509 {
	fill: rgba(224,224,224,1);
}
.Trac_1509 {
	overflow: visible;
	position: absolute;
	width: 52.262px;
	height: 24.341px;
	left: 199.021px;
	top: 248.062px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_9 {
	fill: rgba(105,78,214,1);
}
.Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 11px;
	height: 10px;
	left: 237px;
	top: 230.473px;
}
#Groupe_364 {
	opacity: 0.5;
	position: absolute;
	width: 73.022px;
	height: 51.724px;
	left: 0px;
	top: 114.455px;
	overflow: visible;
}
#Rectangle_104_ey {
	fill: url(#Rectangle_104_ey);
}
.Rectangle_104_ey {
	position: absolute;
	overflow: visible;
	width: 73.022px;
	height: 51.725px;
	left: 0px;
	top: 0px;
}
#Rectangle_105 {
	fill: rgba(255,255,255,1);
}
.Rectangle_105 {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 48px;
	left: 3px;
	top: 116.473px;
}
#Trac_1510 {
	fill: rgba(224,224,224,1);
}
.Trac_1510 {
	overflow: visible;
	position: absolute;
	width: 26.488px;
	height: 26.488px;
	left: 24.681px;
	top: 128.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1511 {
	fill: rgba(105,78,214,1);
}
.Trac_1511 {
	overflow: visible;
	position: absolute;
	width: 13.212px;
	height: 13.13px;
	left: 21.85px;
	top: 125.878px;
	transform: matrix(1,0,0,1,0,0);
}
#ID18 {
	position: absolute;
	width: 540px;
	height: 182px;
	left: 122px;
	top: 1538px;
	overflow: visible;
}
#Button {
	position: absolute;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 146px;
	overflow: visible;
}
#Light__Button3_ContainedA_Text {
	position: absolute;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container {
	position: absolute;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light_Elevation11_states {
	position: absolute;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle {
	fill: rgba(255,255,255,1);
}
.Rectangle {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Color {
	fill: rgba(113,141,207,1);
}
.__Color {
	position: absolute;
	overflow: visible;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#_States {
	position: absolute;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#StatesLight_Primary_Container_ {
	fill: rgba(105,78,214,1);
}
.StatesLight_Primary_Container_ {
	position: absolute;
	overflow: visible;
	width: 105px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Label {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
}
#Savings_Accounts_to_calculate_ {
	left: 32px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 509px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -16px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,0.871);
}
#Light__Selection_Controls2_Rad {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#icontoggleradio_button_checked {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boundary {
	fill: transparent;
}
.Boundary {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#_Color {
	fill: rgba(105,78,214,1);
}
._Color {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Light__Selection_Controls2_Rad_fh {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 49px;
	overflow: visible;
}
#icontoggleradio_button_checked_fi {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boundary_fj {
	fill: transparent;
}
.Boundary_fj {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#_Color_fk {
	fill: rgba(105,78,214,1);
}
._Color_fk {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Light__Selection_Controls2_Rad_fl {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 98px;
	overflow: visible;
}
#icontoggleradio_button_checked_fm {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boundary_fn {
	fill: transparent;
}
.Boundary_fn {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#_Color_fo {
	fill: rgba(105,78,214,1);
}
._Color_fo {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#ID17 {
	position: absolute;
	width: 666.002px;
	height: 66px;
	left: 90.998px;
	top: 1448px;
	overflow: visible;
}
#Now_I_will_prepare_your_case_A {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 639px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_fr {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_fr {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID16 {
	position: absolute;
	width: 160px;
	height: 36px;
	left: 122px;
	top: 1364px;
	overflow: visible;
}
#Button_ft {
	position: absolute;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light__Button3_ContainedA_Text_fu {
	position: absolute;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_fv {
	position: absolute;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light_Elevation11_states_fw {
	position: absolute;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_fx {
	fill: rgba(255,255,255,1);
}
.Rectangle_fx {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Color_fy {
	fill: rgba(113,141,207,1);
}
.__Color_fy {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#_States_fz {
	position: absolute;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#StatesLight_Primary_Container__f {
	fill: rgba(105,78,214,1);
}
.StatesLight_Primary_Container__f {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Label_f {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
}
#Button_f {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 68px;
	top: 0px;
	overflow: visible;
}
#Light__Button3_ContainedA_Text_f {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_f {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light_Elevation11_states_f {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_f {
	fill: rgba(255,255,255,1);
}
.Rectangle_f {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Color_f {
	fill: rgba(113,141,207,1);
}
.__Color_f {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#_States_f {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#StatesLight_Primary_Container__ga {
	fill: rgba(105,78,214,1);
}
.StatesLight_Primary_Container__ga {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Label_ga {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
}
#ID15 {
	position: absolute;
	width: 654.002px;
	height: 66px;
	left: 90.998px;
	top: 1274px;
	overflow: visible;
}
#I_will_need_to_know_your_and_y {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 627px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_gd {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_gd {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID14 {
	position: absolute;
	width: 218px;
	height: 36px;
	left: 122px;
	top: 1190px;
	overflow: visible;
}
#Button_gf {
	position: absolute;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light__Button3_ContainedA_Text_gg {
	position: absolute;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_gh {
	position: absolute;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light_Elevation11_states_gi {
	position: absolute;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_gj {
	fill: rgba(255,255,255,1);
}
.Rectangle_gj {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Color_gk {
	fill: rgba(113,141,207,1);
}
.__Color_gk {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#_States_gl {
	position: absolute;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#StatesLight_Primary_Container__gm {
	fill: rgba(105,78,214,1);
}
.StatesLight_Primary_Container__gm {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Label_gn {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
}
#Button_go {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 126px;
	top: 0px;
	overflow: visible;
}
#Light__Button3_ContainedA_Text_gp {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_gq {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light_Elevation11_states_gr {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_gs {
	fill: rgba(255,255,255,1);
}
.Rectangle_gs {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Color_gt {
	fill: rgba(113,141,207,1);
}
.__Color_gt {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#_States_gu {
	position: absolute;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#StatesLight_Primary_Container__gv {
	fill: rgba(105,78,214,1);
}
.StatesLight_Primary_Container__gv {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Label_gw {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
}
#ID13 {
	position: absolute;
	width: 665.002px;
	height: 66px;
	left: 90.998px;
	top: 1100px;
	overflow: visible;
}
#OK_I_can_gather_your_property_ {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 638px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_gz {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_gz {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID12 {
	position: absolute;
	width: 130px;
	height: 29px;
	left: 112px;
	top: 1023px;
	overflow: visible;
}
#Light__Chips3_Choice_chip {
	position: absolute;
	width: 59px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_g {
	position: absolute;
	width: 59px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Elevation {
	fill: transparent;
}
._Elevation {
	position: absolute;
	overflow: visible;
	width: 59px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Color_l_Container {
	opacity: 0.12;
	fill: rgba(255,255,255,0.871);
}
._Color_l_Container {
	position: absolute;
	overflow: visible;
	width: 59px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#States {
	fill: rgba(105,78,214,1);
}
.States {
	position: absolute;
	overflow: visible;
	width: 59px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Label_g {
	left: 12px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.18px;
}
#Light__Chips3_Choice_chip_g {
	position: absolute;
	width: 55px;
	height: 29px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#Container_ha {
	position: absolute;
	width: 55px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Elevation_g {
	fill: rgba(255,255,255,1);
}
._Elevation_g {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Color_l_Container_ha {
	opacity: 0.12;
	fill: rgba(105,78,214,1);
}
._Color_l_Container_ha {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#States_hb {
	fill: transparent;
}
.States_hb {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Label_hc {
	left: 12px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#ID11 {
	position: absolute;
	width: 370.002px;
	height: 22px;
	left: 90.998px;
	top: 977px;
	overflow: visible;
}
#Are_you_owner_or_renting_your_ {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 343px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_hf {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_hf {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID10 {
	position: absolute;
	width: 522.002px;
	height: 44px;
	left: 90.998px;
	top: 885px;
	overflow: visible;
}
#Thanks_I_record_3_kids_I_will_ {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 495px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_hi {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_hi {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID09 {
	position: absolute;
	width: 373px;
	height: 46px;
	left: 111px;
	top: 791px;
	overflow: visible;
}
#Text {
	position: absolute;
	width: 373px;
	height: 46px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1443 {
	fill: rgba(247,246,253,1);
}
.Trac_1443 {
	overflow: visible;
	position: absolute;
	width: 373px;
	height: 46px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_hm {
	left: 20px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#O8 {
	position: absolute;
	width: 138.002px;
	height: 22px;
	left: 90.998px;
	top: 745px;
	overflow: visible;
}
#How_many_ {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_hp {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_hp {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID07 {
	position: absolute;
	width: 147px;
	height: 29px;
	left: 112px;
	top: 668px;
	overflow: visible;
}
#Light__Chips3_Choice_chip_hr {
	position: absolute;
	width: 89px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_hs {
	position: absolute;
	width: 89px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Elevation_ht {
	fill: transparent;
}
._Elevation_ht {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Color_l_Container_hu {
	opacity: 0.12;
	fill: rgba(255,255,255,0.871);
}
._Color_l_Container_hu {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#States_hv {
	fill: rgba(105,78,214,1);
}
.States_hv {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Label_hw {
	left: 12px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.18px;
}
#Light__Chips3_Choice_chip_hx {
	position: absolute;
	width: 42px;
	height: 29px;
	left: 105px;
	top: 0px;
	overflow: visible;
}
#Container_hy {
	position: absolute;
	width: 42px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_Elevation_hz {
	fill: rgba(255,255,255,1);
}
._Elevation_hz {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Color_l_Container_h {
	opacity: 0.12;
	fill: rgba(105,78,214,1);
}
._Color_l_Container_h {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#States_h {
	fill: transparent;
}
.States_h {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#_Label_h {
	left: 12px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#ID06 {
	position: absolute;
	width: 195.002px;
	height: 22px;
	left: 90.998px;
	top: 622px;
	overflow: visible;
}
#Do_you_have_kids_ {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_h {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_h {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID05 {
	position: absolute;
	width: 557.002px;
	height: 44px;
	left: 90.998px;
	top: 530px;
	overflow: visible;
}
#Thanks_I_record_that_and_you_w {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 530px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_ia {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_ia {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID04 {
	position: absolute;
	width: 373px;
	height: 46px;
	left: 111px;
	top: 436px;
	overflow: visible;
}
#Text_ia {
	position: absolute;
	width: 373px;
	height: 46px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1443_ib {
	fill: rgba(247,246,253,1);
}
.Trac_1443_ib {
	overflow: visible;
	position: absolute;
	width: 373px;
	height: 46px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ic {
	left: 20px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#ID03 {
	position: absolute;
	width: 338.002px;
	height: 22px;
	left: 90.998px;
	top: 390px;
	overflow: visible;
}
#How_long_have_you_been_married {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 311px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_if {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_if {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#ID02 {
	position: absolute;
	width: 373px;
	height: 46px;
	left: 111px;
	top: 296px;
	overflow: visible;
}
#Text_ih {
	position: absolute;
	width: 373px;
	height: 46px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1443_ii {
	fill: rgba(247,246,253,1);
}
.Trac_1443_ii {
	overflow: visible;
	position: absolute;
	width: 373px;
	height: 46px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ij {
	left: 20px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#ID01 {
	position: absolute;
	width: 441.002px;
	height: 66px;
	left: 90.998px;
	top: 206px;
	overflow: visible;
}
#Welcome_we_will_try_to_help_yo {
	left: 28.002px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 414px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_awesome-book-reader_im {
	fill: rgba(217,211,245,1);
}
.Icon_awesome-book-reader_im {
	overflow: visible;
	position: absolute;
	width: 17.003px;
	height: 17.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Assistant_-_Title {
	position: absolute;
	width: 124px;
	height: 30px;
	left: 90px;
	top: 152px;
	overflow: visible;
}
#Text_io {
	left: 36px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -2.5px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.2px;
}
#Icon_ip {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	line-height: 39px;
	margin-top: -5px;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(105,78,214,1);
}
#Duration {
	position: absolute;
	width: 90.691px;
	height: 152.846px;
	left: 1026.154px;
	top: 186.154px;
	overflow: visible;
}
#ID10MN {
	left: 24.846px;
	top: 133.846px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(0,0,0,0.871);
}
#Duration_is {
	left: 7.846px;
	top: 108.846px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: center;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.2px;
}
#Icon_it {
	fill: rgba(180,166,234,1);
}
.Icon_it {
	overflow: visible;
	position: absolute;
	width: 27.25px;
	height: 41.727px;
	left: 40.875px;
	top: 22.566px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_iu {
	fill: rgba(233,229,249,1);
}
.Icon_iu {
	overflow: visible;
	position: absolute;
	width: 90.691px;
	height: 90.691px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Button_iv {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 1224px;
	top: 45px;
	overflow: visible;
}
#Light__Button3_ContainedA_Text_iw {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container_ix {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light_Elevation11_states_iy {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_iz {
	fill: rgba(255,255,255,1);
}
.Rectangle_iz {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Color_i {
	fill: rgba(113,141,207,1);
}
.__Color_i {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#_States_i {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#StatesLight_Primary_Container__i {
	fill: rgba(105,78,214,1);
}
.StatesLight_Primary_Container__i {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Label_i {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
}
#Tabs {
	position: absolute;
	width: 219px;
	height: 42px;
	left: 953px;
	top: 39px;
	overflow: visible;
}
#METADATA_i {
	display: none;
	left: -155.961px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#PLACEHOLDER_Tab_Item {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 35.96px;
	top: 0px;
	display: none;
	overflow: visible;
}
#METADATA_ja {
	display: none;
	left: 0.079px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0.001px;
	top: 0px;
	overflow: visible;
}
#METADATA_jb {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: -0.001px;
	top: 0px;
}
#Bar {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: -0.001px;
	top: 40px;
}
#Label {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item_ {
	position: absolute;
	width: 61px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_je {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_jf {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_jg {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Placement_Area_STATEDEFAULT {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Bar_STATEDEFAULT {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_jj {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.1px;
}
#Tab_Item__jk {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 97px;
	top: 0px;
	overflow: visible;
}
#METADATA_jl {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_jm {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_jn {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_jo {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Placement_Area_STATEDEFAULT_jo {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_jp {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Bar_STATEDEFAULT_jp {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_jq {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.1px;
}
#Tab_Item__jr {
	position: absolute;
	width: 51px;
	height: 42px;
	left: 168px;
	top: 0px;
	overflow: visible;
}
#METADATA_js {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_jt {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_ju {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_jv {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Placement_Area_STATEDEFAULT_jv {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_jw {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Bar_STATEDEFAULT_jw {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_jx {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.1px;
}
#Logo {
	position: absolute;
	width: 225px;
	height: 38px;
	left: 48px;
	top: 34px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Homepage.html;
	cursor: pointer;
}
#Text_jz {
	left: 56px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -2.5px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_j {
	fill: rgba(105,78,214,1);
}
.Icon_j {
	overflow: visible;
	position: absolute;
	width: 36.001px;
	height: 36px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}