.mediaViewInfo {
	--web-view-name: Overview;
	--web-view-id: Overview;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Overview;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Overview {
	position: absolute;
	width: 1366px;
	height: 1168px;
	background-color: rgba(247,247,247,1);
	overflow: hidden;
	--web-view-name: Overview;
	--web-view-id: Overview;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Main_Background {
	position: absolute;
	width: 1671.949px;
	height: 529.645px;
	left: -136.223px;
	top: -58.145px;
	overflow: visible;
}
#Background {
	fill: rgba(255,255,255,1);
}
.Background {
	overflow: visible;
	position: absolute;
	width: 1671.949px;
	height: 529.645px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Background_ce {
	position: absolute;
	width: 1100px;
	height: 1075px;
	left: 219px;
	top: 122px;
	overflow: visible;
}
#Shadow {
	fill: rgba(105,78,214,1);
}
.Shadow {
	position: absolute;
	overflow: visible;
	width: 1088px;
	height: 1046px;
	left: 0px;
	top: 29px;
}
#Background_cg {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,211,245,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Background_cg {
	position: absolute;
	overflow: visible;
	width: 1092px;
	height: 1050px;
	left: 12px;
	top: 0px;
}
#Links {
	position: absolute;
	width: 151px;
	height: 192px;
	left: 986px;
	top: 368px;
	overflow: visible;
}
#They_can_help_you {
	left: 4px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	line-height: 17px;
	margin-top: -1.5px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Item {
	position: absolute;
	width: 133px;
	height: 35px;
	left: 0px;
	top: 28px;
	overflow: visible;
}
#Text {
	left: 26px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(105,78,214,1);
}
#Icon {
	left: 0px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
}
#Item_cm {
	position: absolute;
	width: 151px;
	height: 35px;
	left: 0px;
	top: 71px;
	overflow: visible;
}
#Text_cn {
	left: 26px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(105,78,214,1);
}
#Icon_co {
	left: 0px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
}
#Item_cp {
	position: absolute;
	width: 138px;
	height: 35px;
	left: 0px;
	top: 114px;
	overflow: visible;
}
#Text_cq {
	left: 26px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(105,78,214,1);
}
#Icon_cr {
	left: 0px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
}
#Item_cs {
	position: absolute;
	width: 138px;
	height: 35px;
	left: 0px;
	top: 157px;
	overflow: visible;
}
#Text_ct {
	left: 26px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(105,78,214,1);
}
#Icon_cu {
	left: 0px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
}
#Status {
	position: absolute;
	width: 260px;
	height: 127px;
	left: 990px;
	top: 209px;
	overflow: visible;
}
#Rectangle_107 {
	opacity: 0.5;
	fill: rgba(233,250,242,1);
	stroke: rgba(0,128,64,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_107 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 127px;
	left: 0px;
	top: 0px;
}
#Text_cx {
	left: 133px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,0.871);
}
#Text_cy {
	left: 133px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,128,64,1);
}
#Text_cz {
	left: 133px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -3px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Img {
	position: absolute;
	width: 98px;
	height: 83px;
	left: 21px;
	top: 13px;
	overflow: visible;
}
#corner {
	opacity: 0.25;
	fill: rgba(0,128,64,1);
}
.corner {
	overflow: visible;
	position: absolute;
	width: 21.648px;
	height: 21.647px;
	left: 232.454px;
	top: 99.051px;
	transform: matrix(1,0,0,1,0,0);
}
#Separator {
	position: absolute;
	width: 1px;
	height: 354.802px;
	left: 958px;
	top: 209.5px;
	overflow: visible;
}
#line {
	opacity: 0.18;
	fill: rgba(0,0,0,0);
	stroke: rgba(103,130,198,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.line {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 354.802px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Section {
	position: absolute;
	width: 536px;
	height: 553.5px;
	left: 300px;
	top: 350px;
	overflow: visible;
}
#Grille_de_rptition {
	position: absolute;
	width: 536px;
	height: 453.5px;
	left: 0px;
	top: 100px;
	overflow: hidden;
}
#Groupe_365 {
	position: absolute;
	width: 536.5px;
	height: 50.5px;
	left: 0px;
	top: 8px;
	overflow: visible;
}
#Text_c {
	position: absolute;
	width: 470px;
	height: 16px;
	left: 48px;
	top: 8px;
	overflow: visible;
}
#Text_da {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 471px;
	height: 16px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#Line_c {
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0.5px;
	top: 50.5px;
	overflow: visible;
}
#Line_da {
	fill: transparent;
	stroke: rgba(0,0,0,0.38);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_da {
	overflow: visible;
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Illustr {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_10 {
	fill: rgba(233,229,249,1);
}
.Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#letter_02 {
	transform: translate(-303px, -270px) matrix(1,0,0,1,309.4432,275.8716) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 18.717px;
	height: 20.177px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1469 {
	fill: rgba(217,211,245,1);
}
.Trac_1469 {
	overflow: visible;
	position: absolute;
	width: 26.564px;
	height: 27.029px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1470 {
	fill: rgba(247,246,253,1);
}
.Trac_1470 {
	overflow: visible;
	position: absolute;
	width: 24.271px;
	height: 24.735px;
	left: 1.147px;
	top: 1.147px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1471 {
	fill: rgba(217,211,245,1);
}
.Trac_1471 {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.019px;
	top: 7.82px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1472 {
	fill: rgba(217,211,245,1);
}
.Trac_1472 {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.693px;
	top: 11.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1473 {
	fill: rgba(145,126,224,1);
}
.Trac_1473 {
	overflow: visible;
	position: absolute;
	width: 8.361px;
	height: 7.532px;
	left: 7.707px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_365_dj {
	position: absolute;
	width: 536.5px;
	height: 50.5px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
#Text_dk {
	position: absolute;
	width: 470px;
	height: 16px;
	left: 48px;
	top: 8px;
	overflow: visible;
}
#Text_dl {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 471px;
	height: 16px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#Line_dm {
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0.5px;
	top: 50.5px;
	overflow: visible;
}
#Line_dn {
	fill: transparent;
	stroke: rgba(0,0,0,0.38);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_dn {
	overflow: visible;
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Illustr_do {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_10_dp {
	fill: rgba(233,229,249,1);
}
.Ellipse_10_dp {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#letter_02_dq {
	transform: translate(-303px, -270px) matrix(1,0,0,1,309.4432,275.8716) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 18.717px;
	height: 20.177px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1469_dr {
	fill: rgba(217,211,245,1);
}
.Trac_1469_dr {
	overflow: visible;
	position: absolute;
	width: 26.564px;
	height: 27.029px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1470_ds {
	fill: rgba(247,246,253,1);
}
.Trac_1470_ds {
	overflow: visible;
	position: absolute;
	width: 24.271px;
	height: 24.735px;
	left: 1.147px;
	top: 1.147px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1471_dt {
	fill: rgba(217,211,245,1);
}
.Trac_1471_dt {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.019px;
	top: 7.82px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1472_du {
	fill: rgba(217,211,245,1);
}
.Trac_1472_du {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.693px;
	top: 11.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1473_dv {
	fill: rgba(145,126,224,1);
}
.Trac_1473_dv {
	overflow: visible;
	position: absolute;
	width: 8.361px;
	height: 7.532px;
	left: 7.707px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_365_dw {
	position: absolute;
	width: 536.5px;
	height: 50.5px;
	left: 0px;
	top: 162px;
	overflow: visible;
}
#Text_dx {
	position: absolute;
	width: 470px;
	height: 16px;
	left: 48px;
	top: 8px;
	overflow: visible;
}
#Text_dy {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 471px;
	height: 16px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#Line_dz {
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0.5px;
	top: 50.5px;
	overflow: visible;
}
#Line_d {
	fill: transparent;
	stroke: rgba(0,0,0,0.38);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_d {
	overflow: visible;
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Illustr_d {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_10_d {
	fill: rgba(233,229,249,1);
}
.Ellipse_10_d {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#letter_02_d {
	transform: translate(-303px, -270px) matrix(1,0,0,1,309.4432,275.8716) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 18.717px;
	height: 20.177px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1469_d {
	fill: rgba(217,211,245,1);
}
.Trac_1469_d {
	overflow: visible;
	position: absolute;
	width: 26.564px;
	height: 27.029px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1470_d {
	fill: rgba(247,246,253,1);
}
.Trac_1470_d {
	overflow: visible;
	position: absolute;
	width: 24.271px;
	height: 24.735px;
	left: 1.147px;
	top: 1.147px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1471_d {
	fill: rgba(217,211,245,1);
}
.Trac_1471_d {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.019px;
	top: 7.82px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1472_d {
	fill: rgba(217,211,245,1);
}
.Trac_1472_d {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.693px;
	top: 11.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1473_d {
	fill: rgba(145,126,224,1);
}
.Trac_1473_d {
	overflow: visible;
	position: absolute;
	width: 8.361px;
	height: 7.532px;
	left: 7.707px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_365_d {
	position: absolute;
	width: 536.5px;
	height: 50.5px;
	left: 0px;
	top: 239px;
	overflow: visible;
}
#Text_ea {
	position: absolute;
	width: 470px;
	height: 16px;
	left: 48px;
	top: 8px;
	overflow: visible;
}
#Text_eb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 471px;
	height: 16px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#Line_ec {
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0.5px;
	top: 50.5px;
	overflow: visible;
}
#Line_ed {
	fill: transparent;
	stroke: rgba(0,0,0,0.38);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_ed {
	overflow: visible;
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Illustr_ee {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_10_ef {
	fill: rgba(233,229,249,1);
}
.Ellipse_10_ef {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#letter_02_eg {
	transform: translate(-303px, -270px) matrix(1,0,0,1,309.4432,275.8716) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 18.717px;
	height: 20.177px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1469_eh {
	fill: rgba(217,211,245,1);
}
.Trac_1469_eh {
	overflow: visible;
	position: absolute;
	width: 26.564px;
	height: 27.029px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1470_ei {
	fill: rgba(247,246,253,1);
}
.Trac_1470_ei {
	overflow: visible;
	position: absolute;
	width: 24.271px;
	height: 24.735px;
	left: 1.147px;
	top: 1.147px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1471_ej {
	fill: rgba(217,211,245,1);
}
.Trac_1471_ej {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.019px;
	top: 7.82px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1472_ek {
	fill: rgba(217,211,245,1);
}
.Trac_1472_ek {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.693px;
	top: 11.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1473_el {
	fill: rgba(145,126,224,1);
}
.Trac_1473_el {
	overflow: visible;
	position: absolute;
	width: 8.361px;
	height: 7.532px;
	left: 7.707px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_365_em {
	position: absolute;
	width: 536.5px;
	height: 50.5px;
	left: 0px;
	top: 316px;
	overflow: visible;
}
#Text_en {
	position: absolute;
	width: 470px;
	height: 16px;
	left: 48px;
	top: 8px;
	overflow: visible;
}
#Text_eo {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 471px;
	height: 16px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#Line_ep {
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0.5px;
	top: 50.5px;
	overflow: visible;
}
#Line_eq {
	fill: transparent;
	stroke: rgba(0,0,0,0.38);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_eq {
	overflow: visible;
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Illustr_er {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_10_es {
	fill: rgba(233,229,249,1);
}
.Ellipse_10_es {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#letter_02_et {
	transform: translate(-303px, -270px) matrix(1,0,0,1,309.4432,275.8716) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 18.717px;
	height: 20.177px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1469_eu {
	fill: rgba(217,211,245,1);
}
.Trac_1469_eu {
	overflow: visible;
	position: absolute;
	width: 26.564px;
	height: 27.029px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1470_ev {
	fill: rgba(247,246,253,1);
}
.Trac_1470_ev {
	overflow: visible;
	position: absolute;
	width: 24.271px;
	height: 24.735px;
	left: 1.147px;
	top: 1.147px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1471_ew {
	fill: rgba(217,211,245,1);
}
.Trac_1471_ew {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.019px;
	top: 7.82px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1472_ex {
	fill: rgba(217,211,245,1);
}
.Trac_1472_ex {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.693px;
	top: 11.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1473_ey {
	fill: rgba(145,126,224,1);
}
.Trac_1473_ey {
	overflow: visible;
	position: absolute;
	width: 8.361px;
	height: 7.532px;
	left: 7.707px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_365_ez {
	position: absolute;
	width: 536.5px;
	height: 50.5px;
	left: 0px;
	top: 393px;
	overflow: visible;
}
#Text_e {
	position: absolute;
	width: 470px;
	height: 16px;
	left: 48px;
	top: 8px;
	overflow: visible;
}
#Text_fa {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 471px;
	height: 16px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(105,78,214,1);
}
#Line_e {
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0.5px;
	top: 50.5px;
	overflow: visible;
}
#Line_fa {
	fill: transparent;
	stroke: rgba(0,0,0,0.38);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_fa {
	overflow: visible;
	position: absolute;
	width: 536px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Illustr_e {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_10_e {
	fill: rgba(233,229,249,1);
}
.Ellipse_10_e {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#letter_02_e {
	transform: translate(-303px, -270px) matrix(1,0,0,1,309.4432,275.8716) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 18.717px;
	height: 20.177px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1469_e {
	fill: rgba(217,211,245,1);
}
.Trac_1469_e {
	overflow: visible;
	position: absolute;
	width: 26.564px;
	height: 27.029px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1470_e {
	fill: rgba(247,246,253,1);
}
.Trac_1470_e {
	overflow: visible;
	position: absolute;
	width: 24.271px;
	height: 24.735px;
	left: 1.147px;
	top: 1.147px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1471_e {
	fill: rgba(217,211,245,1);
}
.Trac_1471_e {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.019px;
	top: 7.82px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1472_fa {
	fill: rgba(217,211,245,1);
}
.Trac_1472_fa {
	overflow: visible;
	position: absolute;
	width: 8.289px;
	height: 7.348px;
	left: 9.693px;
	top: 11.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1473_fb {
	fill: rgba(145,126,224,1);
}
.Trac_1473_fb {
	overflow: visible;
	position: absolute;
	width: 8.361px;
	height: 7.532px;
	left: 7.707px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_fc {
	position: absolute;
	width: 467px;
	height: 50px;
	left: 0px;
	top: 38px;
	overflow: visible;
}
#Text_fd {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 468px;
	height: 50px;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,0.871);
}
#Headline {
	position: absolute;
	width: 138px;
	height: 22px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Headline_ff {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Section_fg {
	position: absolute;
	width: 467px;
	height: 131px;
	left: 300px;
	top: 170px;
	overflow: visible;
}
#Text_fh {
	position: absolute;
	width: 389px;
	height: 79px;
	left: 78px;
	top: 52px;
	overflow: visible;
}
#Text_fi {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 79px;
	line-height: 21px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.1px;
}
#Illustration {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 0px;
	top: 52px;
	overflow: visible;
}
#Ellipse_10_fk {
	fill: rgba(233,229,249,1);
}
.Ellipse_10_fk {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#letter_02_fl {
	transform: translate(-303px, -270px) matrix(1,0,0,1,315.9193,281.7732) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 37.529px;
	height: 40.457px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1469_fm {
	fill: rgba(217,211,245,1);
}
.Trac_1469_fm {
	overflow: visible;
	position: absolute;
	width: 53.266px;
	height: 54.197px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1470_fn {
	fill: rgba(247,246,253,1);
}
.Trac_1470_fn {
	overflow: visible;
	position: absolute;
	width: 48.666px;
	height: 49.598px;
	left: 2.303px;
	top: 2.301px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1471_fo {
	fill: rgba(217,211,245,1);
}
.Trac_1471_fo {
	overflow: visible;
	position: absolute;
	width: 16.621px;
	height: 14.733px;
	left: 18.085px;
	top: 15.681px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1472_fp {
	fill: rgba(217,211,245,1);
}
.Trac_1472_fp {
	overflow: visible;
	position: absolute;
	width: 16.621px;
	height: 14.733px;
	left: 19.438px;
	top: 23.814px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1473_fq {
	fill: rgba(145,126,224,1);
}
.Trac_1473_fq {
	overflow: visible;
	position: absolute;
	width: 16.766px;
	height: 15.103px;
	left: 15.455px;
	top: 4.007px;
	transform: matrix(1,0,0,1,0,0);
}
#Title {
	position: absolute;
	width: 285px;
	height: 28px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_fs {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 286px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -2.5px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.2px;
}
#Fab_Button {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 1223px;
	top: 677px;
	overflow: visible;
}
#Light__FAB__1_Standard {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Circle_ElevationDark_04dp {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Shadow_3 {
	fill: rgba(255,255,255,1);
}
.Shadow_3 {
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#Shadow_2 {
	fill: rgba(255,255,255,1);
}
.Shadow_2 {
	filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.122));
	position: absolute;
	overflow: visible;
	width: 86px;
	height: 86px;
	left: 0px;
	top: 0px;
}
#Shadow_1 {
	fill: rgba(255,255,255,1);
}
.Shadow_1 {
	filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
}
#Fill {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#State {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#iconcontentadd_24px {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 16px;
	top: 16px;
	overflow: visible;
}
#Boundary {
	fill: transparent;
}
.Boundary {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#_Color {
	fill: rgba(255,255,255,1);
}
._Color {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Button {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 1224px;
	top: 45px;
	overflow: visible;
}
#Light__Button3_ContainedA_Text {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Container {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Light_Elevation11_states {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle {
	fill: rgba(255,255,255,1);
}
.Rectangle {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Color {
	fill: rgba(113,141,207,1);
}
.__Color {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#_States {
	position: absolute;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#StatesLight_Primary_Container_ {
	fill: rgba(105,78,214,1);
}
.StatesLight_Primary_Container_ {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#__Label {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.89px;
}
#Tabs {
	position: absolute;
	width: 219px;
	height: 42px;
	left: 953px;
	top: 39px;
	overflow: visible;
}
#METADATA {
	display: none;
	left: -155.961px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#PLACEHOLDER_Tab_Item {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 35.96px;
	top: 0px;
	display: none;
	overflow: visible;
}
#METADATA_gg {
	display: none;
	left: 0.079px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0.001px;
	top: 0px;
	overflow: visible;
}
#METADATA_gi {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Placement_Area {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: -0.001px;
	top: 0px;
}
#Bar {
	opacity: 0;
	fill: rgba(62,62,62,1);
}
.Bar {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: -0.001px;
	top: 40px;
}
#Label {
	left: 0px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(139,139,139,1);
}
#Tab_Item_ {
	position: absolute;
	width: 61px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_gn {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_go {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_gp {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Placement_Area_STATEDEFAULT {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Bar_STATEDEFAULT {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_gs {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.1px;
}
#Tab_Item__gt {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 97px;
	top: 0px;
	overflow: visible;
}
#METADATA_gu {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_gv {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_gw {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_gx {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Placement_Area_STATEDEFAULT_gx {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_gy {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Bar_STATEDEFAULT_gy {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_gz {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.1px;
}
#Tab_Item__g {
	position: absolute;
	width: 51px;
	height: 42px;
	left: 168px;
	top: 0px;
	overflow: visible;
}
#METADATA_g {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Area_g {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#METADATA_ha {
	display: none;
	left: 0.039px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Placement_Area_STATEDEFAULT_g {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Placement_Area_STATEDEFAULT_g {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Bar_STATEDEFAULT_g {
	opacity: 0;
	fill: rgba(105,78,214,1);
}
.Bar_STATEDEFAULT_g {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 2px;
	left: 0px;
	top: 40px;
}
#Label_g {
	left: 0px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(105,78,214,1);
	letter-spacing: 0.1px;
}
#Menu {
	position: absolute;
	width: 131px;
	height: 260px;
	left: 30px;
	top: 142px;
	overflow: visible;
}
#Item_g {
	position: absolute;
	width: 78px;
	height: 35px;
	left: 0px;
	top: 225px;
	overflow: visible;
}
#Background_g {
	opacity: 0;
	fill: rgba(74,111,195,1);
}
.Background_g {
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Text_ha {
	left: 38px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,0.871);
}
#Icon_hb {
	opacity: 0.534;
	left: 12px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(105,78,214,1);
}
#Item_hc {
	position: absolute;
	width: 125px;
	height: 35px;
	left: 0px;
	top: 180px;
	overflow: visible;
}
#Background_hd {
	opacity: 0;
	fill: rgba(74,111,195,1);
}
.Background_hd {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Text_he {
	left: 38px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,0.871);
}
#Icon_hf {
	opacity: 0.534;
	left: 12px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(105,78,214,1);
}
#Item_hg {
	position: absolute;
	width: 126px;
	height: 35px;
	left: 0px;
	top: 135px;
	overflow: visible;
}
#Background_hh {
	opacity: 0;
	fill: rgba(74,111,195,1);
}
.Background_hh {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Text_hi {
	left: 38px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,0.871);
}
#Icon_hj {
	opacity: 0.534;
	left: 12px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(105,78,214,1);
}
#Item_hk {
	position: absolute;
	width: 124px;
	height: 35px;
	left: 0px;
	top: 90px;
	overflow: visible;
}
#Background_hl {
	opacity: 0;
	fill: rgba(74,111,195,1);
}
.Background_hl {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Text_hm {
	left: 38px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,0.871);
}
#Icon_hn {
	opacity: 0.534;
	left: 12px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(105,78,214,1);
}
#Item_ho {
	position: absolute;
	width: 98px;
	height: 35px;
	left: 0px;
	top: 45px;
	overflow: visible;
}
#Background_hp {
	opacity: 0;
	fill: rgba(74,111,195,1);
}
.Background_hp {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Text_hq {
	left: 38px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,0.871);
}
#Icon_hr {
	opacity: 0.534;
	left: 12px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(105,78,214,1);
}
#Item_hs {
	position: absolute;
	width: 131px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Background_ht {
	opacity: 0.109;
	fill: rgba(105,78,214,1);
}
.Background_ht {
	position: absolute;
	overflow: visible;
	width: 131px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Text_hu {
	left: 38px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(105,78,214,1);
}
#Icon_hv {
	left: 12px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(105,78,214,1);
}
#Logo {
	position: absolute;
	width: 225px;
	height: 38px;
	left: 48px;
	top: 34px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Homepage.html;
	cursor: pointer;
}
#Text_hx {
	left: 56px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -2.5px;
	text-align: left;
	font-family: FuturaEF;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,0.871);
	letter-spacing: 0.2px;
}
#Icon_hy {
	fill: rgba(105,78,214,1);
}
.Icon_hy {
	overflow: visible;
	position: absolute;
	width: 36.001px;
	height: 36px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}